* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.screen {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}


.screen .input-data {
    padding: 30px 20px 20px 20px;
}


.overall-total, .tip-total {
    color: #505A5B;
    display: flex;
    flex-direction: column;
}

.overall-total, .tip-total, .split-bill {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}


.screen .input-number {
    width: 200px;
    height: 40px;
    margin: 10px 0px;
    border: none;
    padding: 25px 0px 25px 1px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.screen .input-number:focus {
    caret-color: rgb(178,77,96);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.percentage{
    font-size: 24px;
    display: inline-block;
    text-align: right;
    color: black;
}


.split-bill {
    display: flex;
    justify-content: space-between;
    background-color: rgb(239,239,249);
    border-radius: 10px;
    color: #3F37AE;
}

.split-bill section{
    padding: 10px;
}

.people-count{
    display: flex;
    padding: 10px 0px;
}

.minus-people, .plus-people{
    border-radius: 50%;
    padding: 5px;
    min-width: 30px;
    height: 30px;
    border: none;
    background-color: #AFACE0;
    color: #3F37AE;
    font-size: 20px;
    cursor: pointer;
}

.number-of-people{
    padding: 4px 10px;
    font-size: 20px;
}

.per-person-amount{
    font-size: 35px;
}
